/* Hide Message Timestamps unless you hover over a message */
[class*="timestampInline_"],
[class*="timezone-message-item"],
[class*="timestampVisibleOnHover_"] {
    opacity: 0;
    transition: opacity var(--timestamp-transition) ease;
}
[class*="message_"]:hover [class*="timestampInline_"],
[class*="messageListItem_"]:hover [class*="timestampInline_"],
[class*="messageListItem_"]:hover [class*="timezone-message-item"],
[class*="messageListItem_"]:hover[class*="timestampVisibleOnHover_"]   {
    opacity: 1;
}
